rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // TEMP: allow everything for testing
    match /{document=**} {
      allow read, write: if true;
    }
  }
}