rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // প্রোফাইল ইমেজের জন্য রুলস
    match /profile-images/{userId}/{allPaths=**} {
      // প্রোফাইল পিকচার সবাই দেখতে পারবে
      allow read: if true;
      
      // শুধুমাত্র লগইন করা ইউজার তার নিজের ফোল্ডারে ইমেজ আপলোড/ডিলিট করতে পারবে
      // এখানে userId এবং request.auth.uid মিলিয়ে দেখা হচ্ছে
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // ডিফল্টভাবে অন্য সব পাথ সুরক্ষিত রাখা হয়েছে
    match /{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}